.dialog{
    background-color: #fff;
    border-radius: 4px;
    padding: 32px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.important{
    color: red;
}

.required{
    border-color: red !important;
    position: relative;
}

#manv:hover + .field-error,#manv+.field-error:hover{
    transition: .5s;
    transition-delay: .1s;
    transform: scale(1);
    color: #fff;
    padding: 4px;
    background-color: black;
    width: 180px;
    display: flex;
    right: -5%;
    justify-content: center;
    
}

#tennv:hover + .field-error,#tennv + .field-error:hover{
    transition: .5s;
    transition-delay: .1s;
    transform: scale(1);
    color: #fff;
    background-color: black;
    right: 15%;
    padding: 4px;
}

.input__employee:hover ~ .field-error,.input__employee ~ .field-error:hover{
    transition: .5s;
    transition-delay: .1s;
    transform: scale(1);
    color: #fff;
    padding: 4px;
    right: 25%;
    background-color: black;
}

.field-error{
    transform: scale(0);
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    padding: 2px;
    z-index: 1000;
    cursor: grab;
}

/* .field-error::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid burlywood;
} */


.title-form{
    font-size: 24px;
    font-weight: 700;
}

.form__header--right{
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__header--left{
    display: flex;
    gap: 8px;
}

.checkbox-form{
    display: flex;
    align-items: center;
    gap: 8px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.field>label{
    font-weight: 700;
}

.row-1{
    display: flex;
    gap: 26px;
}

.row-1-1{
    display: flex;
    gap: 8px;
    width: 100%;
}


.field-40{
    width: 40%;
}

.field-60{
    width: 60%;
}


/* .row .col:nth-of-type(1)>.row-1-1>.field{
    width: 40%;
}

.row .col:nth-of-type(1)>.row-1-1>:nth-child(2){
    width: 60%;
} */

.col{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.gender{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-3{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-3-1{
    display: flex;
    gap: 8px;
}

.form__main{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__main input{
    width: 100%;
}

hr{
    margin-top: 32px;
    margin-bottom: 16px;
    border-color: #fff;
    border-left: none;
}

.form__footer{
    display: flex;
    justify-content: space-between;
}

.add__emp{
    margin-left: 6px;
}

.alert__warning{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background:rgba(0,0,0,.4);
}
.cbb__form{
    background-color: transparent;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.cbb__form:hover{
    background: #dbdfe6;
}
.cbb__form>div{
    transition: all .2s linear;
}
.cbb__form.active>div{
    transform: rotate(180deg);
}

