
.mi-icon-dashboard{
    background-position: -33px -1630px;
    width: 18px;
	height: 20px;
}

.mi-icon-cash{
    background-position: -78px -1631px;
    width: 14px;
	height: 18px;
}

.mi-icon-bank{
    background-position: -121px -1633px;
    width: 16px;
	height: 16px;
}

.mi-icon-purchase{
    background-position: -165px -1632px;
	width: 16px;
	height: 18px;
}

.mi-icon-sale{
    background-position: -206px -1631px;
	width: 20px;
	height: 18px;
}

.mi-icon-invoice{
    background-position: -254px -1632px;
	width: 14px;
	height: 17px;
}

.mi-icon-stock{
    background-position: -294px -1632px;
	width: 18px;
	height: 17px;
}

.mi-icon-tool{
    background-position: -339px -1633px;
	width: 18px;
	height: 17px;
}

.mi-icon-fixed-assets{
    background-position: -382px -1632px;
	width: 17px;
	height: 18px;
}

.mi-icon-salary{
    background-position: -296px -1662px;
	width: 14px;
	height: 18px;
}

.mi-icon-tax{
    background-position: -427px -1634px;
	width: 16px;
	height: 16px;
}

.mi-icon-price{
    background-position: -471px -1633px;
	width: 17px;
	height: 17px;
}

.mi-icon-synthetic{
    background-position: -514px -1632px;
	width: 16px;
	height: 18px;
}

.mi-icon-budget{
    background-position: -382px -1664px;
	width: 16px;
	height: 16px;
}

.mi-icon-report{
    background-position: -552px -1636px;
	width: 14px;
	height: 13px;
}

.mi-icon-analysis{
    background-position: -207px -1667px;
	width: 17px;
	height: 14px;
}