.header__main{
    position: sticky !important;
    left: 0;
    /* z-index: 20; */

}

.title__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 24px 0px;
    font-size: 24px;
    font-weight: bolder;
    background-color: var(--mainColor);
}

.container__main{
    border-radius: 4px;
    background-color: #ffffff;
    /* position: relative; */
    overflow: auto; 
    /* margin-right: 24px; */
    margin-left: 24px;
    max-height: calc(100vh - 56px);
}

.container__main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #f1f1f1;
}

.container__main::-webkit-scrollbar-thumb {
    background: #919497;
}

.container__main::-webkit-scrollbar-thumb:hover {
    background: #878787;
}

.container__main--top{
    display: flex;
    position: sticky !important;
    left: 0;
}

.right{
    min-width: 30px;
    background-color: var(--mainColor);
}

.button-list{
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    width: 100%;
    padding: 16px 16px 32px 16px;
}

.search{
    display: flex;
    position: relative;
    height: 36px;
    margin-right: 6px;
}


.container__main--bottom{
    height: 56px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;    
    position: sticky !important;
    bottom: 0;
    left: 0;
    right: 60px;
    margin-right: 60px;
    z-index: 2;
}

.paging{
    display: flex;
}


.paging__number{
    display: flex;
}

.hide{
    display: none;
}

/* .margin__right{
    background-color: var(--mainColor);
    position: absolute;
    right: 6px;
    top: 56px;
    bottom: 0;
    width: 30px;
    height: calc(100vh - 56px);
    z-index: 200;
} */
/* 
.main__footer{
    display: flex;
} */


.right__bot{
    min-width: 30px;
    background-color: var(--mainColor);
    height: 56px;
    position: absolute;
    right: -60px;
    bottom: 0;
}

.action_btn.active{
    border: 1px solid #0075c0;
}

.tbl-employee{
    /* position: relative; */
    /* min-width: calc(100% + 232px); */
    max-height: 100%;
}

.dialog__form{
    position: absolute;
    background:rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: .05s all linear;
    /* transform: scale(0); */
    /* display: none; */
}

.dialog__form--update{
    position: absolute;
    background:rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: .05s all linear;
    /* transform: scale(0); */
    /* display: none; */
}

.no-data{
   
}

.bottom-2{
    justify-content: center;
    height: 200px;
}

/*  */


.paging__combobox{
    height: 56px;
    display: flex;
    align-items: center;
}
.v-pagination__list{

}
.v-pagination__item{
    height: 10px !important;
}
.v-btn{
    height: 10px !important;
    color: white !important;
}

.alert__warning{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background:rgba(0,0,0,.4);
}


.alert{
    background-color: #fff !important;
    border-radius: 4px;
    padding: 32px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 450px;
}

.alert__form--title{
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 4px;
    padding-right: 24px;
}

.alert__form--bottom{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

li{
	list-style-type: none;
    /* width: 20px; */
}
.context__menu{
    position: fixed !important;
    top: 20px;
    z-index: 1000;
}

.context__menu--item{
    margin-top: 12px;
    right: 100px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 2px;
    z-index: 1000;
    cursor: pointer;
    border: 2px solid var(--tableColor);
}

.context__menu--item li{
    padding: 8px;
}

.context__menu--item li:hover{
    background-color: var(--tableColor);
}

.context__menu--item.active{
    display: block;
}

ul{
    list-style: none;
}

.custom{
    height: 100%;
}
