.title__main{
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 24px;
    font-weight: bold;
}

.container__main{
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 48px;
}

.tbl-employee::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #fffdfd;
}

.tbl-employee::-webkit-scrollbar-thumb {
    background: #919497;
}

.tbl-employee::-webkit-scrollbar-thumb:hover {
    background: #878787;
}

.container__main--top{
    display: flex;
    position: sticky !important;
    left: 0;
}

.right{
    min-width: 24px;
    background-color: var(--mainColor);
}

.button-list{
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    width: 100%;
    padding: 16px 16px 32px 16px;
}

.search{
    display: flex;
    position: relative;
    height: 36px;
    margin-right: 6px;
}


.container__main--bottom{
    height: 56px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;    
    position: sticky !important;
    bottom: 0;
    left: 0;
    right: 60px;
    z-index: 2;
}

.paging{
    display: flex;
}


.paging__number{
    display: flex;
}

.hide{
    display: none;
}

/* .margin__right{
    background-color: var(--mainColor);
    position: absolute;
    right: 6px;
    top: 56px;
    bottom: 0;
    width: 30px;
    height: calc(100vh - 56px);
    z-index: 200;
} */
/* 
.main__footer{
    display: flex;
} */


/* .right__bot{
    min-width: 24px;
    background-color: var(--mainColor);
    height: 56px;
    position: absolute;
    right: -24px;
    bottom: 0;
} */

.action_btn.active{
    border: 1px solid #0075c0;
}

.tbl-employee{
    /* position: relative; */
    /* min-width: calc(100% + 232px); */
    max-height: 100%;
}

.dialog__form{
    position: absolute;
    background:rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: .05s all linear;
    /* transform: scale(0); */
    /* display: none; */
}

.dialog__form--update{
    position: absolute;
    background:rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: .05s all linear;
}

.bottom-2{
    justify-content: center;
    height: 200px;
}

.paging__combobox{
    height: 56px;
    display: flex;
    align-items: center;
}

.v-pagination__item{
    height: 10px !important;
}

.v-btn{
    height: 10px !important;
    color: white !important;
}

.alert__warning{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background:rgba(0,0,0,.4);
}


.alert{
    background-color: #fff !important;
    border-radius: 4px;
    padding: 32px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 450px;
}

.alert__form--title{
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 4px;
    padding-right: 24px;
}

.alert__form--bottom{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

li{
	list-style-type: none;
    /* width: 20px; */
}
.context__menu{
    position: fixed !important;
    top: 20px;
    z-index: 1000;
}

.context__menu--item{
    margin-top: 12px;
    right: 100px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 2px;
    z-index: 1000;
    cursor: pointer;
    border: 2px solid var(--tableColor);
}

.context__menu--item li{
    padding: 8px;
}

.context__menu--item li:hover{
    background-color: var(--thtableColor);
    color: var(--btnHoverColor);
}

.context__menu--item.active{
    display: block;
}

ul{
    list-style: none;
}

.custom{
    height: 100%;
}


.button-left{
    position: relative;
    z-index: 1;
    display: flex;
}
.button-left>p{
    width: 100px;
}
.dropdown{
    background-color: white;
    width: 104px;
    border-radius: 2px;
    border: 1px solid #babec5;
    padding: 2px 1px;
    position: absolute !important;;
    z-index: 999999 !important;
    right: 0;
}

.dropdown li{
    width: 100px;
    height: 24px;
    padding: 2px 10px;
}

.dropdown li:hover{
    background: var(--thtableColor);
    cursor: pointer;
    color: var(--btnHoverColor);
}

.mi-sort-down-cbb{
    transition: all .2s linear;
}
.mi-sort-down-cbb.active{
    transform: rotate(180deg);
}


.tbl-employee{
    margin: 0 24px;
    max-height: calc(100vh - 250px);
    overflow: auto;
}


.toast__messenger{
    position: fixed;
    height: 56px;
    top: 0;
    right: calc(50% - 225px);
    background: #FFFFFF;
    width: 450px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: scale(0);
}

.toast__messenger.active{
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.right-toast>a{
    color: black;
    text-decoration-style: solid !important;
    text-decoration-color: black;
}

.left-toast,.right-toast{
    display: flex;
    gap: 10px;
    align-items: center;
}
.left-toast>b{
    color: #50B83C;
}